html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#Contenedor {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(252, 240, 215, 0.4);
}


.cabecera {
  position: fixed;
  padding: 5px;
}

.cabecera img:hover {
  border-radius: 100%;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
}

nav {
  position: fixed;
  width: 700px;
  height: 50px;
  justify-content: space-around;
  margin: 135px;
  padding: 0;
  background-color: #086075;
  border-radius: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #086075;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

nav ul li:hover ul {
  display: block;
  width: 150px;
  height: fit-content;
  padding: 10px;
}

nav a {
  display: block;
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  background-color: #075669;
  padding-top: 5px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  height: 150px;
  background-color: #086075;
}

.rrss {
  text-align: center;
  border-bottom: 2px solid #f7f7f7;
  width: 250px;
}

.rrss img:hover {
  background-color: #0b4553;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.enlaces {
  align-items: center;
  text-align: left;
  margin: 5px;
  width: 750px;
}

.enlaces ul,
.enlaces ul a {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 12px;
}

.enlaces a:hover {
  width: fit-content;
  height: fit-content;
  background-color: #0b4553;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.copy {
  color: #f7f7f7;
  font-size: 12px;
}
