body {
  background-color: #f7f7f7;
}
.cabecera {
  display: flex;
  justify-content: center;
  padding: 15px;
 
}

.cabecera img {
  height: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto 0;
  width: 590px;
  height: 50px;
  background-color: #086075;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  flex: 1;
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

nav a:hover {
  background-color: #0d7a9b;
  border-radius: 8px;
}



#body-footer {
  display: flex;
  justify-content: center;
  margin: 5px auto 0;
  width: 590px;
  height: 50px;
  background-color: #086075;
  border-radius: 8px;

 
}

#copyright {
  display: flex;
  place-content: center;
}
